.stopwatch{
  font-family: sans-serif;
  text-align: center;
  padding: 5px;
  
  }
  .time{
    padding: 5px;
  }
  .buttons{
    padding: 5px;
    display: flex;
      justify-content:center;
      gap: 20px;
    
  }